<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <div class="logi">
        <img src="/assets/logo.png" style="max-width:90px;" />
        <div class="logdiv">
          <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
            <%= devise_error_messages! %>

            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: 'email', value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: 'form-control', placeholder: 'Enter email' %>
            </div>

            <div class="mt-4">
              <%= f.submit 'Resend', class: 'btn btn-defalut' %>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>  