<div class="container">
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <div class="logi">
              <img src="/assets/logo.png" style="max-width:90px;" />
                <div class="logdiv signn">
                  <h3>Change password</h3>
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                      <%= devise_error_messages! %>
                        <div class="form-group">
                          <%= f.password_field :current_password, autocomplete: 'off',  class: "px-1 form-control", placeholder: 'Enter old password' %>
                        </div>

                        <div class="form-group">
                          <%= f.password_field :password_confirmation, autocomplete: 'off',  class: "px-1 form-control", placeholder: 'Enter new password' %>
                        </div>

                        <div class="mt-4">
                          <%= f.submit 'CHANGE', style:"float:none;margin-top:10px;", class: "btn btn-default" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
  </div>
</div>