<div class="container">
  <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
          <div class="logi">
              <img src="/assets/logo.png" style="max-width:90px;" />
                <div class="logdiv signn">
                  <h3>Sign Up</h3>
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <%= devise_error_messages! %>
                        <div class="form-group">
                          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control', placeholder: 'Email' %>
                        </div>

                        <div class="form-group">
                          <%= f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: @minimum_password_length ? "Password (#{@minimum_password_length} characters minimum)" : "Password" %>
                        </div>

                        <div class="form-group">
                          <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', placeholder: 'Password confirmation' %>
                        </div>

                        <div class="mt-4">
                          <%= f.submit 'Submit', style:"float:none;margin-top:10px;", class: "btn btn-default" %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
  </div>
</div>
