<div class="logfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="footer">
                    <p>&copy; 2017 Caishen - All Rights Reserved.</p>
                    <ul>
                        <li><a href="javascript:;">What is Caishen?</a></li>
                        <li><a href="javascript:;">Privacy policy</a></li>
                        <li><a href="javascript:;">Terms of Use</a></li>
                        <li><a href="javascript:;">Fees</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>