<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <div class="logi">
        <img src="/assets/logo.png" style="max-width:90px;" />
        <div class="logdiv">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>

            <div class="form-group">
              <%= f.label :password, 'New password' %><br />
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em><br />
              <% end %>
              <%= f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control form-control-lg underlined' %>
            </div>

            <div class="form-group">
              <%= f.label :password_confirmation, 'Confirm new password' %><br />
              <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control form-control-lg underlined' %>
            </div>

            <div class="actions">
              <%= f.submit 'Change my password', class: 'btn btn-default' %>
            </div>
          <% end %>
        </div>
      </div>
    </div> 
  </div>
</div>         