<%= form_with(model: document, local: true) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
        <% document.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="field col-12 ">
      <label>Document upload</label>
      <%= form.file_field :upload, id: :document_upload, class: 'dropify', 'data-allowed-file-extensions': 'png jpg jpeg', 'data-max-file-size': '10M', 'data-default-file': document.upload.present? ? image_url(document.upload.url) : false %>
      </br>
    </div>
  </div>
  <div class="row">
    <div class="field col-6">
      <%= form.label :doc_type, 'Document type' %>
      <%= form.select(:doc_type, Document::TYPES, {id: :document_doc_type}, {class: 'form-control underlined'}) %>
    </div>

    <div class="field form-group">
      <%= form.label :doc_expire, 'Document expiry' %>
      <div class="down-arrow">
        <%= form.text_field :doc_expire, id: :document_doc_expire, class: 'datepicker-toggle form-control underlined', 'data-date-format': 'yyyy-mm-dd', 'data-date-start-date': '+1d', placeholder: 'Expiry date' %>
      </div>
    </div>

    <div class="field form-group col-12">
      <%= form.label :doc_number, 'Document number' %>
      <%= form.text_field :doc_number, id: :document_doc_number, class: 'px-1 form-control form-control-lg underlined', placeholder: 'AB123456' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn-default' %>
  </div>
<% end %>
