<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <div class="logi">
        <img src="/assets/logo.png" style="max-width:90px;" />
        <div class="logdiv signn">
          <div class="text-center pt-1">
            <h2 class="font-weight-bold pt-4 pb-4"><span class="text-muted">Verification > </span>Add document</h2>
          </div>

          <div class="d-flex justify-content-center box-shadow">
            <div class="steps d-flex justify-content-between pb-2 px-5 mb-2">
              <div class="col-4 step-col first">
                <div class="step text-muted completed"></div>
                <small>Email</small>
              </div>
              <div class="col-4 step-col">
                <div class="step text-muted completed"></div>
                <small>Phone</small>
              </div>
              <div class="col-4 step-col last">
                <div class="step text-muted current"></div>
                <small>Document</small>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-center px-5 py-4">
            <%= render 'form', document: @document %>
          </div><br/>
        </div>
      </div>
    </div>
  </div>
</div>
