<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <div class="logi">
        <img src="/assets/logo.png" style="max-width:90px;" />
        <div class="logdiv">
          <h3>May The God of wealth bless your trading</h3>
          <p>Please enter your password to login</p>
          <%= form_for(resource, as: resource_name, url: account_session_path) do |f| %>
            <%= f.hidden_field :email %>
            <div class="form-group">
              <%= f.password_field :password, autofocus: true, autocomplete: 'off',
                                            class: 'px-1 form-control',
                                            placeholder: 'Enter password' %>
            </div>

            <% if @otp_enabled %>
              <div id="otp-code" class="form-group">
                <div class="row">
                  <%= label_tag :otp, '6-digit Google Authenticator code' %>
                  <%= text_field_tag :otp, '', autocomplete: 'off', class: 'px-1 form-control form-control-lg underlined', required: true, maxlength: 6, size: 6, pattern: '\d{6}', placeholder: 'XXXXXX' %>
                </div>
                </div>
            <% end %>

            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <div class="text-left">
                  <%= f.label :remember_me do %>
                    <%= f.check_box :remember_me, class: 'checkbox' %>
                    Remember me
                  <% end %>
                </div>
              </div>
            <% end %>
            <div class="form-group">
              <%= f.submit 'Login', class: 'btn btn-default left-side' %>
              <%= link_to 'Back', new_account_session_path, class: 'btn btn-secondary text-white right-side' %>
            </div>  
          <% end %>  
        </div>
      </div>
    </div>
  </div>
</div>


<style type="text/css">
  .left-side{
    float: left !important;
  }
  .right-side{
    float: right;
  }
  .left-side.btn-default{
    margin-top: 0;
  }
  .new_account input[type='checkbox']{
    margin-right: 5px;
  }
</style>