<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12 text-center">
      <div class="logi">
        <img src="/assets/logo.png" style="max-width:90px;" />
        <div class="logdiv">
          <h3>May The God of wealth bless your trading</h3>
          <p>Please enter your email</p>
          <%= form_for(resource, as: resource_name, url: accounts_sign_in_confirm_path) do |f| %>
             <%= devise_error_messages! %>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: 'email',
                            class: 'px-1 form-control ',
                            placeholder: 'Enter email', required: true %>
            </div>
            <%= f.submit 'Submit', class: 'btn btn-default' %>
          <% end %>  
          <%= link_to 'Sign up', new_registration_path(resource_name), class: 'btn btn-default', style: "float: left"%>
          <div class="btn-group">
            <%- unless controller_name == 'registrations' %>
              <a href="javascript:void(0)" class="dropdown-toggle " data-toggle="dropdown">
                Help
              </a>
              <div class="dropdown-menu text-dark">
                <%= link_to 'Forgot your password?', new_password_path(resource_name), class: 'dropdown-item' %>
                <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class: 'dropdown-item' %>
                <%= link_to "Didn't receive unlock instructions?", new_account_unlock_path(resource_name), class: 'dropdown-item' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>