<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= domain_title_tag(domain_asset :title) %>
    </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'web', media: 'all' %>
    <%= domain_stylesheet_tag(domain_asset :stylesheet) %>
    <%= javascript_include_tag 'web' %>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="login">
    <%= domain_html_tag(domain_asset :header) %>
      <div class="container">
        <div  class='row'>
          <% unless alert.blank? %>
            <span class="alert alert-danger mb-0">
              <i class="icon icon-cancel-circled"></i> <h3><%= alert %></h3>
            </span>
          <% end %>

          <% unless notice.blank? %>
            <span class="alert alert-success mb-0">
              <i class="icon icon-cancel-circled"></i> <h3><%= notice %></h3>
            </span>
          <% end %>

          <%= yield %>

          <% if account_signed_in? %>
            <%= render 'layouts/shared/account_footer' %>
          <% end %>
        </div>
      </div>
    <%= domain_html_tag(domain_asset :footer) %>
  </body>
</html>
